@media screen and (max-width: 900px) {

    #movie-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 320px) {

    #movie-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #movie-container div{
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

}